body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.header {
    background: #222222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}

.identity {
    width: 200px;
    font-size: 20px;
    position: relative;
    left: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.menus ul {
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.menus ul li {
    list-style: none;
    height: 35px;
    line-height: 35px;
    /* margin-left: 30px; */
    text-align: center;
    float: left;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.menus ul li .menu-pseudo:before {
    content: attr(data);
    width: 200px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: #222;
    transform-origin: 50% 100%;
    transform: translateZ(35px) rotateX(90deg);
    background: #222;
    transition: background 0.2s;
}

.menus ul li .menu-pseudo {
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #4c4b4b;
    float: left;
    position: relative;
    transform-origin: 50% 0%;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.menus ul li .menu-pseudo:hover {
    cursor: pointer;
    transform: rotateX(-90deg);
    transform: none\9;
    background: white\9;
    color: black\9;
}

.menus:hover ul li .menu-pseudo:before {
    background: white;
}

.menu-pseudo {
    width: 200px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
}

.portfolio {
    overflow: hidden;
    position: relative;
}

.portfolio-heading {
    padding: 20px;
    font-size: 35px;
    color: #222;
    border-top: 1px solid #e0e0e0;
}

.works {
    width: 100%;
    float: left;
    color: white;
}

.works.css {
    background: #652B2B;
}

.works.ml {
    background: #f26767;
}

.works.canvas {
    background: #652B2B;
}

.works.website {
    background: #f26767;
}

.work-heading {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 25px;
}

.work-links {
    width: 76%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.work-links div {
    width: 25%;
    height: 200px;
    float: left;
    position: relative;
}

.work-links div a {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #642c2c;
}

.work-links div a:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    background: white;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
    opacity: 0.2;
}

.work-links div a:hover::before {
    height: 150px;
    width: 150px;
}

.about {
    background: white;
    padding: 35px 30px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

.pic {
    border-radius: 50%;
}

.abouttext {
    width: 100%;
    margin-top: 40px;
    text-align: left;
    padding-left: 35px;
    line-height: 30px;
    position: relative;
    font-size: 19px;
    color: #222;
    margin-bottom: 50px;
}

.contact {
    background: #F26767;
    color: white;
    font-size: 21px;
    padding: 20px;
}

.footer {
    background: #222222;
    color: white;
}

.other-contacts {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    line-height: 0;
}

.other-contacts a {
    display: inline-block;
    position: relative;
}

.other-contacts a:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: white;
    border-radius: 50%;
    transition: height 0.3s;
    opacity: 0.2;
    border: none;
}

.other-contacts a img {
    border: none;
}

.other-contacts a:hover::after {
    height: 40px;
    width: 40px;
}

.separator_color {
    color: black;
}

@media screen and (max-width:1200px) {
    .work-links div {
        width: 33.3%;
    }
}

@media screen and (max-width:992px) {
    .work-links div {
        width: 50%;
    }

    .identity {
        width: 1%;
        left: 0;
        text-align: center;
    }

    .header {
        display: block;
    }

    .menus {
        padding-right: 0px;
        margin: auto;
        text-align: center;
    }

    .menus ul {
        display: flex;
        margin-top: 35px;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menus ul li {
        top: auto;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .abouttext{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .work-links div {
        width: 100%;
    }

    .identity {
        /*! width: 1%; */
        /*! left: 0px; */
        text-align: center;
    }

    .menus {
        margin: auto;
    }

    .menus ul {
        padding: 0px;
        height: auto;
        margin-top: 30PX;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .menus ul li:not(:last-child) {
        margin-left: 0px;
        padding: 0px;
        margin-bottom: 20px;
    }
    .abouttext {
        font-size: 16px;
    }

    .other-contacts{
        margin-right: 0px;
    }
}

@-moz-document url-prefix() {
    .identity div {
        position: relative;
    }
}
